# Dfinity Node URL
DFINITY_HOST=https://ic0.app

# Dfinity Bridge Principal
DFINITY_BRIDGE=e3io4-qaaaa-aaaak-qasua-cai

# Dfinity XPNFT Principal
DFINITY_XPNFT=e4jii-5yaaa-aaaak-qasuq-cai

# A UserNftMinter contract we use for testing
DFINITY_UMT=evkdu-lqaaa-aaaak-qasva-cai

# Dfinity Wallet
DFINITY_WALLET=

# Transaction parameters
TX_TO=
TX_MINT_WITH=
TX_SEL_NFT=

# NFT parameters
NFT_URI=
NFT_ID=